*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:linear-gradient(135deg,#667eea,#764ba2);
    padding:15px;
}

.main{
    width:min(92vw,430px);
    background:rgba(255,255,255,.15);
    backdrop-filter:blur(20px);
    padding:25px;
    border-radius:25px;
    box-shadow:0 20px 40px rgba(0,0,0,.25);
}

#res{

width:100%;

height:80px;

border:none;

outline:none;

border-radius:15px;

font-size:35px;

padding:20px;

text-align:right;

background:#fff;

margin-bottom:20px;
}

.btn{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:15px;
}

.btn input{

height:65px;

border:none;

border-radius:15px;

font-size:22px;

cursor:pointer;

transition:.25s;

background:white;
}

.btn input:hover{

transform:translateY(-3px);

box-shadow:0 10px 20px rgba(0,0,0,.25);
}

.btn input:active{

transform:scale(.95);
}

/* Operators */

.btn input[value="/"],
.btn input[value="x"],
.btn input[value="-"],
.btn input[value="+"],
.btn input[value="%"]{

background:#ff9800;

color:#fff;
}

/* Equal */

.btn input[value="Enter"]{

background:#4CAF50;

color:white;
}

/* Clear */

.btn input[value="C"]{

background:#f44336;

color:white;
}

/* Delete */

.btn input[value="Del"]{

background:#607D8B;

color:white;
}

/* MOBILE FULL SCREEN LOOK */
@media (max-width:480px){

    body{
        padding:0;
        align-items:flex-start;   /* top se start hoga */
    }

    .main{
        width:100vw;
        min-height:100vh;
        max-width:none;

        border-radius:0;

        padding:20px 15px;

        display:flex;
        flex-direction:column;
        justify-content:center;

        background:rgba(255,255,255,.12);
    }

    #res{
        height:90px;
        font-size:38px;
        padding:20px;
        margin-bottom:25px;
    }

    .btn{
        gap:12px;
    }

    .btn input{
        height:72px;
        font-size:24px;
        border-radius:16px;
    }
}

}
